In [1]:
import pandas as pd
import numpy as np

In [2]:
sydney_rest = pd.read_csv('./export/sydney-restaurants.csv', parse_dates=['date published'])

sydney_rest.head()

,name,street address,suburb,style,phone number,website,date published
0,Royal Palace Seafood Restaurant,393-399 Sussex Street,Haymarket,NaN,+61 2 9211 8518,https://www.instagram.com/royalpalacesyd/,2023-10-11
1,Deux Frères,6 Loftus Lane,Sydney,NaN,NaN,https://deuxfreres.com.au/,2023-12-05
2,Lima Nikkei,Shop 7&8 16A Hickson Road,Dawes Point,NaN,NaN,https://limarestaurant.com.au/,2023-10-24
3,Messina Creative,1 Rich Street,Marrickville,NaN,+61 2 9231 1898,https://gelatomessina.com/pages/messina-creative,2023-10-18
4,Pearl Dining,50 Bridge Street,Sydney,NaN,+61 2 7227 6293,https://www.pearldining.com.au/?utm_content=Pe...,2023-10-11

In [3]:
sydney_rest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1247 entries, 0 to 1246
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1247 non-null   object
 1   street address  1243 non-null   object
 2   suburb          1245 non-null   object
 3   style           255 non-null    object
 4   phone number    1070 non-null   object
 5   website         1195 non-null   object
 6   date published  1247 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 68.3+ KB

In [4]:
sydney_rest_copy = sydney_rest.copy()

In [5]:
cols = [col.title() for col in sydney_rest_copy.columns]

In [6]:
sydney_rest_copy.columns = cols

sydney_rest_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1247 entries, 0 to 1246
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            1247 non-null   object
 1   Street Address  1243 non-null   object
 2   Suburb          1245 non-null   object
 3   Style           255 non-null    object
 4   Phone Number    1070 non-null   object
 5   Website         1195 non-null   object
 6   Date Published  1247 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 68.3+ KB

In [7]:
sydney_rest_copy.to_excel('./export/sydney-restaurants-excel.xlsx', sheet_name="Sydney Restaurants", index=False)

In [8]:
sydney_rest['style'].isna().sum()

992